---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Card from "../components/card.astro";
import Button from "../components/button.astro";
import { Image } from "astro:assets";
import Montando from "../assets/20240509_174531.jpg";
---

<Layout title="ORC" nav={false}>
  <main class="header">
    <div class="header-body">
      <div class="titles">
        <h1>Olympic Robotic <br /> Challenge</h1>
        <h2>2k24</h2>
        <p>La mayor competición de robótica de la UPV</p>
      </div>
    </div>
  </main>
  <Navbar />
  <section class="second-section">
    <Image
      src={Montando}
      alt="Un competidor de la ORC 2023 montando su robot"
      class="image-container"
    />
    <div>
      <h2 class="second-section-pregunta">¿Qué es la ORC?</h2>
      <p class="second-section-respuesta">
        La ORC (Olympic Robotic Challenge) es una competición de robótica que te
        dará la oportunidad de desafiar tus habilidades programando robots. La
        competición se basa en una serie de pruebas en los que se pondrán a
        prueba distintos aspectos del robot, como la robustez, la velocidad o el
        código.
      </p>
    </div>
  </section>
  <section class="third-section">
    <div class="container">
      <Card title="¿Qué necesitas?" button="Kit"
        >Forma un equipo de 1 a 4 personas, trae tu portátil. A los primeros 20
        equipos apuntados se les proporcionará un kit. No te preocupes si nunca
        has programado un robot, habrán talleres para aprender
      </Card>
      <Card title="¿Dónde y cuándo se hará?" button="Calendario"
        >La ORC empezará el 10 de febrero. Ese dia se repartirán los kits y se
        anunciaran las fechas de los talleres y la competición.
      </Card>
      <Card title="¿Quién la organiza?" button="Sponsors">MakersUPV </Card>
    </div>
  </section>
  <section class="fourth-section">
    <div style="margin: 3rem;">
      <h2>¿Preparado?</h2>
      <p>
        ¿Tienes lo que se necesita para ser el campeón de la ORC? ¡Demuéstralo
        inscribiéndote hoy mismo! Sólo necesitas completar nuestro formulario
        para unirte a la competición.
      </p>
      <Button button="Apúntate" />
    </div>
  </section>
  <section>
    <h2 style="margin-left: 3rem;">Años anteriores</h2>
    <lite-youtube videoid="hK9lK1cWQp0"></lite-youtube>
  </section>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
  }
  .fas {
    color: var(--fontColor2);
  }

  /* Normal Screen */
  .icon-class {
    display: none;
  }

  /* Small Screen */

  @media screen and (max-width: 780px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .icon-class {
      display: flex;
    }
  }
  section {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  /* Header */
  main {
    height: 90vh;
    width: 100%;
    padding: 2rem;
  }
  body {
    background: var(--primary-500);
  }

  .titles {
    top: 40%;
    left: 0%;
    transform: translate(0%, 20%);
    text-align: left;
  }

  .titles h1 {
    font-weight: 500;
    font-size: 101px;
    color: var(--fontColor2);
  }

  .titles p {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--fontColor2);
  }

  /* Second section */

  .second-section {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    background-color: var(--primary-50);
  }

  .image-container {
    width: 50%;
    height: auto;
  }

  .second-section h2 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 40px;
    color: var(--color1);
  }

  .second-section-respuesta {
    margin-bottom: 20px;
    padding: 0 7% 0 7%;
  }

  .second-section h2,
  .second-section p {
    text-align: center;
  }

  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    background-color: var(--secondary-200);
  }

  .third-section h2 {
    font-weight: 400;
    font-size: 40px;
    color: var(--color1);
  }

  .third-section p {
    margin: 20px 0 20px 0;
    padding: 0 7% 0 7%;
    text-align: center;
  }
  .fourth-section {
    background-color: white;
  }

  /* Responsive of all sections */

  @media screen and (max-width: 800px) {
    .titles h1 {
      font-size: 80px;
    }

    .titles p {
      font-size: 15px;
    }
    section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    .titles h1 {
      font-size: 50px;
    }

    .titles p {
      font-size: 15px;
    }

    .second-section div {
      flex-direction: column;
    }

    .second-section-pregunta,
    .third-section h2 {
      font-size: 30px;
    }

    .second-section-respuesta,
    .third-section p {
      padding: 0 8px 0 8px;
    }
    .second-section div {
      align-items: center;
    }

    .third-section button {
      font-weight: 200;
      font-size: 15px;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
    }
  }
</style>
