---
import Layout from "./Layout.astro";
interface Props {
  title: string;
  nav?: boolean;
}

const { title, nav = true } = Astro.props;
---

<Layout title={title} nav={true}>
  <div>
    <slot />
  </div>
</Layout>
<style>
  div {
    margin: 3rem;
  }
</style>
